<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Content</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let item of list$ | async">
    <td>{{ item.id }}</td>
    <td>{{ item.title }}</td>
    <td>
      <button [routerLink]="['/todos', item.id]">Details</button>
    </td>
  </tr>
  <tr class="loading" *ngIf="loading$ | async">
    <td></td>
    <td>Loading...</td>
    <td></td>
  </tr>
</table>

<div *ngIf="paginateObject$ | async as paginateObject">
  <button (click)="goToPage(paginateObject.currentPage - 1)">
    {{ paginateObject.currentPage - 1 }}
  </button>
  <button (click)="goToPage(paginateObject.currentPage)">{{ paginateObject.currentPage }}</button>
  <button (click)="goToPage(paginateObject.currentPage + 1)">
    {{ paginateObject.currentPage + 1 }}
  </button>
  |
  <button (click)="setPageSize(10)">10</button>
  <button (click)="setPageSize(25)">25</button>
  <button (click)="setPageSize(50)">50</button>
  |
  <input type="text" [ngModel]="search$ | async" (ngModelChange)="setSearch($event)" />
  |
  <button (click)="reset()">Reset</button>
</div>
